
/*path{
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  -webkit-animation: dash 2s  ease-in-out forwards;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/
.svg4{
	border:1px solid #CCC;
}
.svg5{
	border:1px solid #CCC;
}
.svg4 svg path,circle,rect{
	-webkit-transition:all .4s ease-in-out;
}
.svg{
	display: inline-block;
}
svg{
	shape-rendering:optimizeSpeed;
}
.svg1{
	margin: 0 auto;
	width: 320px;
	height: 320px;
}
.svg2{
	margin: 0 auto;
	width: 320px;
	height: 320px;
}
.svg3{
	margin: 0 auto;
	width: 320px;
	height: 320px;
}
.svg3 svg{
	background: #FFF;
}
.dispalyNone{
	display: none;
}
.data{
	position: absolute;
	right: 0px;
	top: 0px;
}
.colorSelector{
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	background: #CCC;
	border: 1px solid #CCC;
}